<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <title>Single Expense</title>
  </head>
  <body>
    <div class="container">
      <h1>Single Expense</h1>
      <h3>Id: <%= expense.id %></h3>
      <h3>Category: <%= expense.category %></h3>
      <h3>Price: <%= expense.price %> <%= expense.currency %></h3>
      <a class="btn secondary">Delete Expense</a>
    </div>
  </body>
</html>
